

body{

background-color: #E2A3C7;


}

h1 {
color: #D67AB1;
font-size: 32;
background-color: #A8DCD9;
text-align:center;

}

h2 {

color: #D67AB1;
font-size: 24;
background-color: #A8DCD9;
text-align:center;


}
