<link rel = "stylesheet" type = "text/css" href="/static/mainpage.css"/>

<style>
  .profile_image {

    width: 40px;

  }
</style>
<h1> Welcome to our LOVEly Chatroom Fellow Gaymer </h1>



<h3> Game on!! </h3>

<ul>
  {% for post in posts %}
    <li> <b>{{post['username']}}: </b> {{post['message']}}</li>

    <img src = "{{post['picture']}}" class="profile_image"

    {% endfor %}
</ul>

Message?

<form action="/create_post" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>


<a href = "/"> Mainpage </a>
