<link rel = "stylesheet" type = "text/css" href="/static/mainpage.css"/>

<h1> Create Account </h1>

<form action="/create_account_post" method="post">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br>
  Bio:<br>
  <input type="text" name="bio">

  <br>
  Gender:<br>
   <div><input type="radio" name="gender" value="Male">Male</div>
   <div><input type="radio" name="gender" value="Female">Female</div>
   <div><input type="radio" name="gender" value="Other">Other</div>

   <br>
   Sexuality:
   <div><input type="radio" name="sexuality" value="Gay-me (male-male)">Gay-me (male-male)</div>
   <div><input type="radio" name="sexuality" value="Gay-me (female-female)">Gay-me (female-female)</div>
   <div><input type="radio" name="sexuality" value="bi-gaymer">Bi-gaymer</div>
   <div><input type="radio" name="sexuality" value="straight gaymer ">Straight gaymer</div>

   <br>
  Favourite Game?
   <div><input type="radio" name="genre" value="FPS">FPS</div>
   <div><input type="radio" name="genre" value="Free Roam">Free roam</div>
   <div><input type="radio" name="genre" value="Rpg">Rpg</div>
   <div><input type="radio" name="genre" value="Mobile Games">Mobile Games</div>
   <div><input type="radio" name="genre" value="Horror">Horror</div>
   <div><input type="radio" name="genre" value="Sandbox">Sandbox</div>
   <div><input type="radio" name="genre" value="Free Roam">Free Roam</div>



<br>
 Do you Play Sport?
 <div><input type="radio" name="sport" value="yes">Yes</div>
 <div><input type="radio" name="sport" value="no">No</div>
<input type="submit" methods="post">
<br>

</form>
